* {
    padding: 0;
    margin: 0;
}

.menu-bar {
    background: rgb(0, 0, 0);
    text-align: center;
    font-size: 20 ;
    font-family: Comic Sans MS;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: aqua;
}

.menu-bar ul li {
    width: 200px;
    margin: 15 px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover {
    background-color: darkgray;
    border-radius: 2px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    background-color: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.welcome h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 5px darkgray;
}

.welcome p {
    font-size: 20px;
    color:white;
    text-shadow: 1px 1px 3px darkgray;
}

.welcome {
    margin-left: 10%;
    margin-top: 10%;
    font-family: Comic Sans MS;
}

.btn {
    display: inline-block;
    background-color: black ;
    border-radius: 20;
    box-decoration-break:20;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: white;
}

.feature-img {
    height: 30%;
    position: absolute;
    bottom: 10%;
    left: 50%;
}